<aside class="front-rail" aria-label="Kısa haberler">
  <div class="front-rail__title">Son Haberler</div>
  <ol class="front-rail__list">
    {% for article in page.briefs[:20] %}
      <li class="front-rail__item">
        <span class="front-rail__number">{{ "%02d"|format(((page.page_no - 1) * 20) + loop.index) }}</span>
        <a href="{{ article.source_bundle[0].url }}" target="_blank" rel="noopener noreferrer">{{ article.headline }}</a>
        <span class="front-rail__source">{{ article.source_bundle[0].name }}</span>
      </li>
    {% endfor %}
  </ol>
</aside>
