<header class="masthead">
  <div class="masthead__meta">
    <span>Üretim: {{ issue.generated_at|datetime_tr }}</span>
    <span>{{ issue.paper_size }} / {{ issue.page_count }} sayfa</span>
  </div>
  <div class="masthead__band">
    <div class="masthead__brand">
      <img class="masthead__logo" src="{{ logo_href }}" alt="{{ issue.title }}">
    </div>
    <div class="masthead__chevrons" aria-hidden="true"></div>
    <div class="masthead__slogan">GÜVENİLİR <span></span> HIZLI <span></span> TARAFSIZ</div>
    <div class="masthead__globe" aria-hidden="true" style="grid-column: 4 / 6;"></div>
  </div>
</header>
